{% extends "base.html" %}

{% block title %}Post{% endblock %}


{% block content %}
  <h1>My Post</h1>

  <h1>{{ post.user.username }}</h1>
  <p>{{ post.title }}</p>
  <p>{{ post.text }}</p>

  {% if post.user == request.user %}
    <p><a href="{% url 'post:post_update' post.pk %}">Update Post</a></p>
    <p><a href="{% url 'post:post_delete' post.pk %}">Delete Post</a></p>
  {% endif %}

  <hr>
    {% with users_like=post.like.all %}

    <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in like %}un{% endif %}like" class="like button">
        {% if request.user not in users_like %}
          Like
        {% else %}
          Unlike
        {% endif %}
    </a>
    {{ post.like.count }}
    {{ n }}
    <p>{{ total_views }} views</p>
  {% endwith %}
{% endblock %}


{% block domready %}
  const url = '{% url "post:like" %}';
  var options = {
    method: 'POST',
    headers: {'X-CSRFToken': csrftoken},
    mode: 'same-origin'
  }

  document.querySelector('a.like')
          .addEventListener('click', function(e){
    e.preventDefault();
    var likeButton = this;

    var formData = new FormData();
    formData.append('id', likeButton.dataset.id);
    formData.append('action', likeButton.dataset.action);
    options['body'] = formData;

    fetch(url, options)
    .then(response => response.json())
    .then(data => {
      if (data['status'] === 'ok')
      {
      }
    })
  });
{% endblock %}
